In [1]:
import pandas as pd

In [2]:
# Here I set the delimiter to a space because the underlying data file (dice.txt) has a space between values.  
# If that had been a comma, I would have set the delimiter to a comma.  
# I set the index_col to 'Dice' so I can use the dice number as my index.  
df = pd.read_csv('data/dice.txt',delimiter=' ',index_col='Dice')

In [3]:
# Finally, I print the sum of the 'Value' column as an integer
print("The sum is %d " % df['Value'].sum())

The sum is 24

In [5]:
df = pd.DataFrame([[0,1],[1,5],[2,7],[3,4]],columns=['Dice number','value'],index=[1,2,3,4])
df

   Dice number  value
1            0      1
2            1      5
3            2      7
4            3      4