# Understanding filtering and slicing

## What is going on with statements like:
## `df[df['A']=='X']]`?

In [1]:
import pandas as pd
df = pd.DataFrame(['Apple','Orange','Apple','Strawberry'],columns=['Fruit'],index=[0,1,2,3])
df

        Fruit
0       Apple
1      Orange
2       Apple
3  Strawberry

### Part 1: Identifying which rows match our filter

In [2]:
# This extracts all the rows, and labels them true if they match the filter and false if they don't
df['Fruit'] == 'Apple'

0     True
1    False
2     True
3    False
Name: Fruit, dtype: bool

### Part 2: Using that to extract the "True" rows (i.e. the ones matching Apple) from the original dataset

In [3]:
is_apple = df['Fruit'] == 'Apple'
df[is_apple]

   Fruit
0  Apple
2  Apple

## So part 1 used to *identify* the rows that match the filter, and part 2 is used to *extract* those rows
### The next code block above just does it in one line, without an intermediate variable declaration!

In [4]:
df[ df['Fruit'] == 'Apple' ]

   Fruit
0  Apple
2  Apple